<div class="container">

  <form method="post" action="/events/create">
    <h2>Create new event!</h2>
    Name: <input type="text" name="name" /><br>
    Location: <input type="text" name="location" /><br>
    Starts at: <input type="date" name="start" /><br>
    End at: <input type="date" name="end" /><br><br><br>
    <input type="submit" name="create-event" value="Create Event"/><br><br>
  </form>


</div>
