<div class="container">
  <h1>Welcome, <%= @user.first_name %> <%= @user.first_name %></h1>

  <a href='/events/new'>Create event</a><br>
  <a href='/events/list_created'>List created events<a><br>
  <a href='/events/list_attended'>Attended events</a><br>

  <br><br>
  <a href='/logout'>Log out</a>
</div>
